body {
    padding: 5px;
    background-color: ghostwhite;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > .list {
    font-size: 20px;
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    width: 400px;
}

div.item-display {
    position: relative;
    width: 360px;
    height: 600px;
}
div.item-display-img {
    position: relative;
    width: 354px;
    height: 237px;
}
.caption {
    display: block;
}
  
.item-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 335px;
    height: 350px;
}
.item-bottom-right {
    position: absolute;
    bottom: 10px;
    /*right: 15px;*/
}

p {
    margin-bottom: 0px;
}
#form1 {
    position: relative;
    bottom: 10px;
    left: 10px;
}
#form2 {
    position: absolute;
    bottom: 10px;
    left: 80px;
}
.ct {
    margin-top: .7rem! important;
}
.ctb{
    font-size:20px;
    font-weight: bold;
}
.cd {
    color: grey;
}
.borderradius{
    border-radius: 1rem! important;
}
.col,.itm,.list {
    background-color:white;
}
.right{
    float:right;
}