body {
    padding: 5px;
    background-color: ghostwhite;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > .list {
    font-size: 20px;
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    width: 400px;
}

div.item-display {
    position: relative;
    width: 360px;
    height: 600px;
}
div.item-display-img {
    position: relative;
    width: 354px;
    height: 237px;
    overflow: hidden;   /* prevents image overflow */
}
.item-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;   /* fit without cropping */
  object-position: center;
  display: block;        /* removes inline gap */
  background-color: #f0f0f0; /* optional, for letterbox effect */
}
.caption {
    display: block;
}
  
.item-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 335px;
    height: 350px;
}
.item-bottom-right {
    position: absolute;
    bottom: 10px;
    /*right: 15px;*/
}

p {
    margin-bottom: 0px;
}
#form1 {
    position: relative;
    bottom: 10px;
    left: 10px;
}
#form2 {
    position: absolute;
    bottom: 10px;
    left: 80px;
}
#form3 {
    position: absolute;
    bottom: 10px;
    left: 245px;
}
.ct {
    margin-top: .7rem! important;
}
.ctb{
    font-size:20px;
    font-weight: bold;
}
.cd {
    color: grey;
}
.borderradius{
    border-radius: 1rem! important;
}
.col,.itm,.list {
    background-color:white;
}
.right{
    float:right;
}

.searchSection{
    justify-content: flex-end;
    display: flex;
    margin-right: 20px;
}

.select{
    margin-right: 10px;
}

.search{
    margin-left: 5px;
}


@media screen and (max-width: 1019px) {

}

@media screen and (max-width: 915px) {
    #container, .item-display > .item-display-img {
        display: flex;
        justify-content: center;
    }
    #container > .list {
        width: 80%;
    }
    .item-display, .item-bottom , .item-display > .item-display-img{
        width: 100% !important;
    }
    
    .details{
        margin-left: 20px;
    }
    #container > .list {
        margin-left: 0px;
    }
}
