{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row" id="container">
    {% for item in list %}
        <div class="list border">
            <div class="item-display">
                <div class="item-display-img">
                    <div style="bottom: 10px;position: absolute;">
                        <img src="{{ item.image }}"  style="width:100%">
                    </div>
                </div>
                <div class="item-bottom">
                    <h1>{{ item.title }}</h1>
                    {% with item.listingId.all|first as current %}
                        {% if current.amount == None %}
                            <p>Current price: ${{ item.price }}</p>
                        {% else %}
                            <p>Current price: ${{ current.amount }}</p>
                        {% endif %}
                    {% endwith %}
                    <p>Starting price: ${{ item.price }}</p>
                    <p style="color: grey">Category: {{ item.category }} created by 
                        {% if user.id != item.name.id %} 
                            {{ item.name }} 
                        {% else %} 
                            You 
                        {% endif %}</p>
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-bottom-right">
                   <form action="{% url 'item' item.id %}" method="post" id="form1">
                        {% csrf_token %}
                        <input type="text" value="none" name="price" hidden>
                       <input type="submit" value="View" class="btn btn-primary">
                   </form>
                   {% if user.id != item.name.id %}
                   <form action="{% url 'allList' %}" method="post" id="form2">
                        {% csrf_token %}
                        <input type="text" value="{{ item.id }}" name="item_id" hidden>
                        {% if item in watchlist %}
                            <input type="submit" name="removeWatchlist" value="Remove Watchlist" class="btn btn-secondary">
                        {% else %}
                            <input type="submit" name="addWatchlist" value="Add Watchlist" class="btn btn-primary">
                        {% endif %}
                    </form>
                    {% else %}
                        {% if not item.closeChecker %}
                            <form action="{% url 'allList' %}" method="post" id="form2">
                                {% csrf_token %}
                                <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning">
                            </form>
                        {% else %}
                            <div id="form2">
                                <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning" disabled>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
      
{% endblock %}