{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <center><h2>Add Category</h2></center>
            <div class="form-group">
                <select name="categoryList" class="custom-select" id="categoryList">
                    <option selected value="" >All category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" >{{ category }}</option>
                    {% endfor %}    
                </select>
            </div>
            <div class="form-group">
                <form action="{% url 'category' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="category" class="form-control" id="category" placeholder="Category" required>
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock %}