{% extends "auctions/layout.html" %}

{% block body %}
    <h2>&nbsp;&nbsp;Active Listings</h2>
    <div class="searchSection">
        <form action="{% url 'index' %}" method="post" class="form-inline">
            {% csrf_token %}
            <div class="row">
                <div class="form-group mx-sm-3 select">
                    <select name="category" class="custom-select" id="category">
                        <option value="" >All category</option>
                        {% if ctgry == 'null' %}
                            <option selected value="null" >No category</option>
                        {% else %}
                            <option value="null" >No category</option>
                        {% endif %}
                        {% for category in categories %}
                            {% if ctgry == category.id %}
                                <option selected value="{{ category.id }}" >{{ category }}</option>
                            {% else %}
                                <option value="{{ category.id }}" >{{ category }}</option>
                            {% endif %}
                        {% endfor %}    
                    </select>
                </div>
                <div>
                    <input type="submit" name="search" value="Search" class="btn btn-primary search">
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="container">
    {% for item in list %}
        {% if not item.closeChecker %}
        <div class="list border">
            <div class="item-display">
                <div class="item-display-img">
                    <div class="item-img">
                        <img src="{{ item.image }}">
                    </div>
                </div>
                <div class="item-bottom">
                    <h1>{{ item.title }}</h1>
                    {% with item.listingId.all|first as current %}
                        {% if current.amount == None %}
                            <p>Current price: &nbsp;<strong>No bid</strong></p>
                        {% else %}
                            <p>Current price: ¥{{ current.amount }} by 
                                {% if user.id != current.bidder.id %} 
                                    {{ current.bidder }}
                                {% else %} 
                                    You 
                                {% endif %}
                            </p>
                        {% endif %}
                    {% endwith %}
                    <p>Starting price: ¥{{ item.price }}</p>
                    <p style="color: grey">Category: {{ item.category }} created by 
                        {% if user.id != item.name.id %} 
                            {{ item.name }} 
                        {% else %} 
                            You 
                        {% endif %}</p>
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-bottom-right">
                   <form action="{% url 'item' item.id %}" method="post" id="form1">
                        {% csrf_token %}
                        <input type="text" value="none" name="price" hidden>
                       <input type="submit" value="View" name="view" class="btn btn-primary">
                   </form>
                   {% if user.id != item.name.id %}
                   <form action="{% url 'index' %}" method="post" id="form2">
                        {% csrf_token %}
                        <input type="text" value="{{ item.id }}" name="item_id" hidden>
                        {% if item in watchlist %}
                            <input type="submit" name="removeWatchlist" value="Remove Watchlist" class="btn btn-secondary">
                        {% else %}
                            <input type="submit" name="addWatchlist" value="Add Watchlist" class="btn btn-primary">
                        {% endif %}
                    </form>
                    {% else %}
                        {% if not item.closeChecker %}
                            <form action="{% url 'index' %}" method="post" id="form2">
                                {% csrf_token %}
                                <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning">
                            </form>
                        {% else %}
                            <div id="form2">
                                <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning" disabled>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
      
{% endblock %}