{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row" id="container">
        {% for item in list %}
        <div class="list border">
            <div class="item-display">
                <div class="item-display-img">
                    <div style="bottom: 10px;position: absolute;">
                        <img src="{{ item.image }}"  style="width:100%">
                    </div>
                </div>
                <div class="item-bottom">
                    <h1>{{ item.title }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
      
{% endblock %}