{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row" id="container">
        {% for item in list %}
        <div class="list border">
            <div class="item-display">
                <div class="item-display-img">
                    <div style="bottom: 10px;position: absolute;">
                        <img src="{{ item.image }}"  style="width:100%">
                    </div>
                </div>
                <div class="item-bottom">
                    <h1>{{ item.title }}</h1>
                    <p>Current price: ${{ item.price }}</p>
                    <p>Starting price: ${{ item.price }}</p>
                    <p style="color: grey">Category: {{ item.category }} created by {{ item.name }}</p>
                    <p>{{ item.description }}</p>
                </div>
                <div class="item-bottom-right">
                   <form action="{% url 'item' item.id %}" method="post">
                        {% csrf_token %}
                       <input type="submit" value="View" class="btn btn-primary">
                   </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
      
{% endblock %}