{% extends "auctions/layout.html" %}

{% block body %}
    {% if item.closeChecker == True and user.id == bid.bidder.id %}
    <div class="alert alert-warning" role="alert">
        <strong>You won on bidding!</strong>
    </div>
    {% endif %}
    {% if message != None %}
        <div class="row">
            <div class="col-4" >
            </div>
            <div class="col-4" >
                {% if message.messageCode != '1001' %}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ message.message }}</strong>
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ message.message }}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="col-4" >
            </div>
        </div>
    {% endif %}
    <div class="row mx-auto">
        <div class="col-sm-8 mr-5 mb-3 border">
            <div class="row itm">
                <div class="col my-5">
                    <img src="{{ item.image }}" alt="{{ item.title }}" style="width: 400px;">
                </div>
                <div class="col my-5">
                    <div class="row mb-3">
                        <h1>{{ item.title }}</h1>
                    </div>
                    <div class="row mb-3">
                        {% if user.id != item.name.id and not item.closeChecker %}
                            <form action="{% url 'index' %}" method="post" >
                                {% csrf_token %}
                                <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                {% if item in watchlist %}
                                    <input type="submit" value="Remove Watchlist" class="btn btn-secondary">
                                {% else %}
                                    <input type="submit" value="Add Watchlist" class="btn btn-primary">
                                {% endif %}
                            </form>
                        {% else %}
                            {% if not item.closeChecker %}
                                <form action="{% url 'index' %}" method="post" >
                                    {% csrf_token %}
                                    <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                    <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning">
                                </form>
                            {% else %}
                                <input type="submit" name="closeBid" value="Close Bid" class="btn btn-warning" disabled>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        {% if bid %}
                            Current Price: ${{ bid.amount }} by {{ bid.bidder }}
                        {% else %}
                            Current Price:&nbsp;<strong>No bid</strong>
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        Starting Price: ${{ item.price }}
                    </div>
                    <div class="row mb-3">
                        {{ item.description }}
                    </div>
                    <div class="row mb-3">
                        {{ item.date }}
                    </div>
                    {% if user.is_authenticated and user.id != item.name.id and not item.closeChecker %}
                        <form action="{% url 'item' item.id %}" method="post" >
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" name="price" class="form-control" aria-label="Amount (to the nearest dollar)" style="width: 200px;" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div class="row">
                                <input name="placeBid" type="submit" value="$ Place Your Bid" class="btn btn-success">
                            </div>
                        </form>
                    {% elif not user.is_authenticated and user.id != item.name.id %}
                        <div class="row mb-3">
                            Please&nbsp;<a href="{% url 'login' %}">Login</a>&nbsp;to bid
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not item.closeChecker %}
            <div class="col border p-0 mb-5">
                <div class="card-header">
                        <h2>Add Comment</h2>
                </div>
                {% if user.is_authenticated %}
                <div class="card-body">
                    <form action="{% url 'item' item.id %}" method="post" >
                        {% csrf_token %}
                        <input type="text" name="commentTitle" placeholder="Subject" style="width: 380px;" class="mb-2">
                        <textarea name="commentDescription" placeholder="Your message" style="width: 380px; height:150px;"></textarea>
                        <input type="submit" name="comment" class="btn btn-primary" value="Save">
                    </form>
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="row mx-auto">
        <div class="col border p-0 mb-5">
            <div class="card-header">
                <h2>List of comment - {{ commentList|length }} comment(s)</h2>
            </div>
            <div class="card-body">
                {% for comment in commentList %}
                <div class="row mx-auto">
                    <div class="ct">
                        <span class="ctb">>>&nbsp;&nbsp;</span>
                    </div>
                    <div class="col-11 border borderradius p-0 mb-5">
                        <div class="card-header">
                            <span class="ctb">
                                {{ comment.commentUser.first_name}}
                                {{ comment.commentUser.last_name}}
                            </span>
                            <span class="cd">
                                commented on {{ comment.date }}
                            </span>
                        </div>
                        <div class="card-body">
                        <h6>{{ comment.commentTitle }}</h6>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.commentDescription }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}