{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row mx-auto">
        <div class="col-sm-8 mr-5 mb-3 border">
            <div class="row">
                <div class="col my-5">
                    <img src="{{ item.image }}" alt="{{ item.title }}" style="width: 400px;">
                </div>
                <div class="col my-5">
                    <div class="row mb-3">
                        <h1>{{ item.title }}</h1>
                    </div>
                    <div class="row mb-3">
                        {% if user.id != item.name.id %}
                            <form action="{% url 'index' %}" method="post" >
                                {% csrf_token %}
                                <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                {% if item in watchlist %}
                                    <input type="submit" value="Remove Watchlist" class="btn btn-secondary">
                                {% else %}
                                    <input type="submit" value="Add Watchlist" class="btn btn-primary">
                                {% endif %}
                            </form>
                        {% else %}
                            <form action="#" method="post" >
                                {% csrf_token %}
                                <input type="text" value="{{ item.id }}" name="item_id" hidden>
                                <input type="submit" value="Close Bid" class="btn btn-warning">
                            </form>
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        Current Price: ${{ bidAmount }}
                    </div>
                    <div class="row mb-3">
                        Starting Price: ${{ item.price }}
                    </div>
                    <div class="row mb-3">
                        {{ item.description }}
                    </div>
                    <div class="row mb-3">
                        {{ item.date }}
                    </div>
                    {% if user.is_authenticated and user.id != item.name.id %}
                        <form action="{% url 'item' item.id %}" method="post" >
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" name="price" class="form-control" aria-label="Amount (to the nearest dollar)" style="width: 200px;" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div class="row">
                                <input name="placeBid" type="submit" value="$ Place Your Bid" class="btn btn-success">
                            </div>
                        </form>
                    {% elif user.id != item.name.id %}
                        <div class="row mb-3">
                            Please <a href="{% url 'login' %}">Login</a> to bid
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col border p-0 mb-5">
            <div class="card-header">
                    <h2>Add Comment</h2>
            </div>
            {% if user.is_authenticated %}
            <div class="card-body">
                <form action="{% url 'item' item.id %}" method="post" >
                    {% csrf_token %}
                    <input type="text" name="commentTitle" placeholder="Subject" style="width: 380px;" class="mb-2">
                    <textarea name="commentDescription" placeholder="Your message" style="width: 380px; height:150px;"></textarea>
                    <input type="submit" name="comment" class="btn btn-primary" value="Save">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col border p-0 mb-5">
            <div class="card-header">
                <h2>List of comment</h2>
            </div>
            <div class="card-body">
                {% for comment in commentList %}
                    <div class="row mb-3">
                    {{ comment.commentUser}}
                    {{ comment.commentTitle }}
                    {{ comment.commentDescription }}
                    {{ comment.date }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}