{% extends "auctions/layout.html" %} 
{% load static %}
{% block body %}

    {% if message %}
    <div class="container" style="margin-top: 20px">
        <div>
            <div class="alert alert-success" role="alert">
                <strong>{{ message }}</strong>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="hero" >
            <form action="{% url 'login' %}" method="post" class="form">
                <div class="logo">Login</div>
                {% csrf_token %}
                <input autofocus class="input" type="text" name="username" placeholder="Username">
                <input class="input" type="password" name="password" placeholder="Password">
                <input class="input submit" type="submit" value="Log in">
                <p class="signup">Don't have an account ? <a href="{% url 'register' %}">SignUp</a></p>
                <p class="signup">Created and developed by <a href="https://kylepauloguinto.github.io/portfolio/" target="_blank" class="footer creator">Kyle Guinto</a></p>
            </form>
        </div>
    </div>
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'auctions/login.css' %}?v={{ STATIC_VERSION }}"
    />
{% endblock %}