{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    {% if message %}
    <div class="container" style="margin-top: 20px">
        <div>
            <div class="alert alert-success" role="alert">
                <ul>
                    {% for msg in message %}
                        <li>
                            <p>{{ msg }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="hero" >
            <form action="{% url 'register' %}" method="post" class="form">
                <div class="logo">Register</div>
                {% csrf_token %}
                <input class="input" autofocus type="text" name="username" placeholder="Username" value="{{ username }}">
                <input class="input" type="email" name="email" placeholder="Email Address" value="{{ email }}">
                <input class="input" autofocus type="text" name="firstname" placeholder="First Name" value="{{ firstname }}">
                <input class="input" autofocus type="text" name="lastname" placeholder="Last Name" value="{{ lastname }}">
                <input class="input" type="password" name="password" placeholder="Password">
                <input class="input" type="password" name="confirmation" placeholder="Confirm Password">
                <input class="input submit" type="submit" value="Register">
                <p class="signup">Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </form>
        
        </div>
    </div>

    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'auctions/login.css' %}?v={{ STATIC_VERSION }}"
    />
{% endblock %}